<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MessageMapper">
    <select id="listSend" resultType="com.example.domain.MessageVO">
        select m.*,name from tbl_message m, tbl_user u
        where sender=#{id} and receiver=u.id and sdel=0
        order by mid desc
    </select>
     <select id="listReceive" resultType="com.example.domain.MessageVO">
        select m.*,name from tbl_message m, tbl_user u
        where receiver=#{id} and sender=u.id and sdel=0
        order by mid desc
    </select>
    <insert id="insert">
    	insert into tbl_message(sender,receiver,message)
		values(#{sender},#{receiver},#{message})
    </insert>
    <select id="read" resultType="com.example.domain.MessageVO">
    	select m.*, name,point from tbl_message m, tbl_user u
    	 where mid=#{mid} and sender=u.id
    </select>
    <update id="updateRead">
    	update tbl_message set readDate=now()
    	where mid=#{mid}
    </update>
    <update id="updateSdel">
    	update tbl_message set sdel=1
    	where mid=#{mid}
    </update>
    <update id="updateRdel">
    	update tbl_message set sdel=1
    	where mid=#{mid}
    </update>
</mapper>