<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AirMapper">
    <select id="list" resultType="com.example.domain.AirVO">
        select * from tbl_airbnb
    </select>
    <insert id="insert">
    	insert into tbl_airbnb(title,info,image,rating,city) values(#{title},#{info},#{image},#{rating},#{city})
    </insert>
    <select id="read" resultType="com.example.domain.AirVO">
        select * from tbl_airbnb where title=#{title}
    </select>
</mapper>